<!DOCTYPE html>
<html>
<head>
    <title>企业名录</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <link href="{php echo $_W['siteroot']}addons/release_news/static/base.css?v=135" rel="stylesheet">
    <script src="{php echo $_W['siteroot']}addons/release_news/static/base.js?v=135"></script>
    <script src="{php echo $_W['siteroot']}addons/release_news/static/data.js?v=135"></script>
</head>
<body>
<div class="mtitle" style="margin-bottom:0;">
    <a class="back" href="javascript:closePageForm()">企业名录</a>
    <a class="tbtn" href="javascript:;" onclick="if(document.getElementById('form').style.display=='none'){document.getElementById('form').style.display='block'}else{document.getElementById('form').style.display='none'}" >
        <i id="total">{$total}</i>搜索
    </a>
</div>
<form class="xform" id="form" autocomplete="off"  style="display: none;">

    <dl>
        <dt>所在区域：</dt>
        <dd>
            <div class="mplace" id="place" onclick="document.getElementsByClassName('MWin')[0].style.display='block'" >
                全国
            </div>
        </dd>
    </dl>

    <dl>
        <dt>关键字：</dt>
        <dd><input name="kw" id="s_kw" maxlength="10" placeholder="请输入要查询的关键字"></dd>
    </dl>
    <input type="hidden" name="address" value="" >
    <a id="submit" class="submit" href="javascript:search()">搜索</a>
</form>

<div class="MWin" style="z-index: 1001;display: none;" onclick="document.getElementsByClassName('MWin')[0].style.display='none'" >
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <div class="MWinBox" style="width: 310px;">
                    <div class="MWinTitle">
                        <div class="t">
                            区域定位
                        </div>
                        <div class="x">
                        </div>
                    </div>
                    <div class="MWinBody" style="height: auto;" onclick="stopBubble(this)" >
                        <div id="win_place_list">
                            <ul class="portlist">
                                <li><b>区域</b><a onclick="changeaddress('全国',this)" class="on" >全国</a></li>

                                {loop $area $v}
                                <li>
                                    <b onclick="changeaddress('{$v['name']}',this)" >{$v['name']}</b>
                                    {loop $v['city'] $c}
                                    <a onclick="changeaddress('{$c['name']}',this)" >{$c['name']}</a>
                                    {/loop}
                                </li>
                                {/loop}

                            </ul>
                        </div>
                        <a class="submit margin" href="javascript:choseaddress()">确认</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="MWin" style="z-index: 1001; display: none;" onclick="document.getElementsByClassName('MWin')[1].style.display='none'" >
    <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td>
                <div class="MWinBox" style="width: 340px;">
                    <div class="MWinTitle">
                        <div class="t" id="datatitle" >

                        </div>
                        <div class="x">
                        </div>
                    </div>
                    <div class="MWinBody" style="height: auto;" onclick="stopBubble(this)" >
                        <div id="win_data">

                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="data" class="olist">

    {loop $list $v}
    <dl id="data_{$v['id']}" onclick="showData('{$v['id']}')">
        <dt><i style="background-image:url({php echo $v['thumb']?$v['thumb']:$_W['siteroot'].'addons/release_news/static/img/nopic.jpg'})"></i></dt>
        <dd>
            <div class="title">
                <span class="name">{$v['name']}</span><span style="margin-left: 5px;margin-right: 5px;" >{$v['timestr']}</span>
            </div>
            <div class="content" style="font-size:12px;color:#666;">
                <span>{$v['content']}</span><br>
                <span style="font-size:12px;color:#999;">{$v['contactname']}：</span><span style="color:#07f;">{$v['contactmobile']}</span>
            </div>
        </dd>
    </dl>
    {/loop}

</div>
<div class="record pencil" style="position:fixed;right:20px;bottom:0;opacity:0.8;">
    <a href="{php echo $this->createMobileUrl('addcompany')}"></a>
</div>
</body>

<script>
    window.onscroll = function(){
        if(getScrollTop() + getWindowHeight() == getScrollHeight()){
            getlist();
        }
    };
    address="";
    page=1;
    keyword='';
    function choseaddress(){
        document.getElementsByClassName('MWin')[0].style.display='none';
        document.getElementById('place').innerText=address;
        document.getElementsByName('address')[0].value=address;
    }

    function search(){
        page=0;
        keyword=document.getElementById('s_kw').value;
        document.getElementById('form').style.display='none';
        document.getElementById('data').innerHTML='';
        getlist();
    }

    function getlist(){
        var url="{php echo $this->createMobileUrl('getcompanylistajax')}";
        var page_sub=++page,keyword_sub=keyword,address_sub=address;
        ajax({
            url:url,
            type:'POST',
            data:{
                page:page_sub,
                keyword:keyword_sub,
                address:address_sub
            },
            success:function(res){
                    document.getElementById('total').innerText=res.total;
                    document.getElementById('data').insertAdjacentHTML('beforeend',res.data);
            }
        })
    }
    function showData(id){
        var url="{php echo $this->createMobileUrl('getcompanyinfoajax')}";
        ajax({
            url:url,
            type:'POST',
            data:{
                id:id
            },
            success:function(res){
                    document.getElementById('datatitle').innerText=res.title;
                    document.getElementById('win_data').innerHTML=res.data;
                    document.getElementsByClassName('MWin')[1].style.display='block'
            }
        })
    }
    function closePageForm(){
        window.opener=null;
        window.open('','_self');
        window.close();
    }
</script>

</html>