<!DOCTYPE html>
<html>
<head>
    <title>我的服务</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0">
    <link href="{php echo $_W['siteroot']}addons/release_news/static/base.css?v=135" rel="stylesheet">
    <script src="{php echo $_W['siteroot']}addons/release_news/static/base.js?v=135"></script>
    <script src="{php echo $_W['siteroot']}addons/release_news/static/data.js?v=135"></script>
</head>
<body>
<div class="mtitle" style="margin-bottom: 0;">
    <a class="back" href="javascript:history.back()">我的服务</a>
</div>
<form class="xform">
    <dl>
        <dt>开始日期：</dt>
        <dd>{php echo date('Y-m-d',$this->user['createtime'])}</dd>
    </dl>
    <!--<dl>-->
        <!--<dt>结束日期：</dt>-->
        <!--<dd>{php echo date('Y-m-d',$this->user['stoptime'])}</dd>-->
    <!--</dl>-->
    <dl>
        <dt>服务状态：</dt>
        <dd><span style="color:{if $status}green{else}red{/if}">{php echo $status?'正常':'欠费'}</span></dd>
    </dl>
    <a class="submit" href="{php echo $this->createMobileUrl('wxpay')}">延长{$set['rechargedays']}天服务(￥{$set['rechargeprice']})</a>
    <dl>
        <dt>说明：</dt>
        <dd>如已欠费，则从付款时间延长</dd>
    </dl>
</form>
</body>

<script>

</script>

</html>